---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Footer from '../components/Footer.astro';
import DestinosNacionaisCarousel from '../components/DestinosNacionaisCarousel.astro';
import DestinosInternacionaisCarousel from '../components/DestinosInternacionaisCarousel.astro';
import WhyChooseUs from '../components/WhyChooseUs.astro';
import TestimonialsSection from '../components/TestimonialsSection.astro';
import NewsletterSection from '../components/NewsletterSection.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="pt-BR">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<Hero />
			<WhyChooseUs />
			<DestinosNacionaisCarousel />
			<DestinosInternacionaisCarousel />
			<TestimonialsSection />
			<NewsletterSection />
		</main>
		<Footer />
	</body>
</html>
